<div class="container">

	<div class="row header-row well">

		<div class="col-md-9">
			<h1> 
      <a href="{{ "/" | prepend: site.baseurl}}"> {{ site.title }} </a>
      </h1>
			<p> {{ site.tagline }} {{ site.description }} </p>
			<p>	{{ site.email }} </p>

	{% include navigation.html %}

		</div><!--/col-->

		<div class="col-md-3">
    <a 
    title="By Self-portrait by the depicted Macaca nigra female. See
    article. (NBC News (mirror)) [Public domain], via Wikimedia Commons"
    href="http://commons.wikimedia.org/wiki/File%3AMacaca_nigra_self-portrait.jpg"><img
		id="portrait" class="img-polaroid img-responsive"
    alt="Macaca nigra self-portrait"
    src="//upload.wikimedia.org/wikipedia/commons/thumb/5/52/Macaca_nigra_self-portrait.jpg/256px-Macaca_nigra_self-portrait.jpg"/></a>
		</div><!--/col-->

	</div><!--/row-->

